version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: petclinic-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: petclinic
      POSTGRES_PASSWORD: petclinic
      POSTGRES_DB: petclinic
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:

